# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.venv*/
.env

# Terraform
.terraform/
.terraform.*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.override.tf
*.override.tf.json
.terraform.lock.hcl

# Node / Web
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Archives
*.zip

# Large artifacts (do not commit)
models/
lambda_layers/
infra/terraform/layer_arns.auto.tfvars
sagemaker/checkpoints/
*.tar.gz
